<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="com/fourman/common/logback-defaults.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Show SQL queries in debug mode -->
    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="com.fourman" level="INFO"/>
</configuration>
